
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <input #minutes formControlName="minutes">
    <input #seconds formControlName="seconds">
  </div>
  
  <div>
    <input #minInterval formControlName="minInterval">
    <input #maxInterval formControlName="maxInterval">
  </div>
  
  <div *ngIf="drills$ | async as drills">
    <select #drillSelect id="drill-select" formControlName="drill">
        <option *ngFor="let drill of drills" [value]="drill">{{drill}}</option>
    </select>
  </div>

  <div>
    <ng-container *ngIf="selectedDrill$ | async as selectedDrill">
      {{selectedDrill.description}}
    </ng-container>
  </div>
  
  <div>
    <button #start>Start</button>
  </div>
</form>

